/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #c6502e;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.search-section {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.search-section div{
    display: flex;
    justify-content: center;
    gap: 3px;
}

#search-display{
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

form{
    display: flex;
    justify-content: center;
    gap: 3px;

}

select {
    padding: 5px;
    margin-right: 10px;
    background-color: white;
}

button {
    padding: 5px 10px;
    background-color: #c6502e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a63f26;
}

.results-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
}

h2 {
    margin-top: 0;
}

#results-list {
    list-style-type: none;
    padding: 0;
}

#results-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#results-list li:last-child {
    border-bottom: none;
}

.copyright{
    text-align: center;
}